*,html{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

li{
	list-style-type: none;
}

.btn-hero-1{
	background-color: #754ef9;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	border: 1px solid #754ef9;
	padding: 0 40px;
	line-height: 48px;
	border-radius: 50px;
	-webkit-box-shadow: 0 1px 10px #754ef9;
	        box-shadow: 0 1px 10px #754ef9; 
	cursor: pointer;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.btn-hero-1:hover{
	background-color: #fff;
	color: #754ef9; 
}

.btn-hero-2{
	background-color: #fff;
	color: #754ef9;
	font-weight: 600;
	text-transform: uppercase;
	border: 1px solid #754ef9;
	padding: 0 40px;
	line-height: 48px;
	border-radius: 50px;
	-webkit-box-shadow: 0 1px 10px #754ef9;
	        box-shadow: 0 1px 10px #754ef9; 
	cursor: pointer;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.btn-hero-2:hover{
	background-color: #754ef9;
	color: #fff;
}

.icon-color{
	color: #754ef9;
} 

.card-hover:hover{
	-webkit-box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
	        box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23);
	border: none !important;
}

.about-section, .services-section, .portfolio-section, .pricing-section, .blog-section, .contact-section, .footer-section{
	padding-top: 100px;
	padding-bottom: 100px;
}

/*-------------------------------------------*/

.nav .nav-item .nav-link{
	color: #9299a0;
	text-transform: uppercase;
	font-weight: 600;
}

.nav .nav-item .nav-link:hover{
	color: #754ef9;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.manu-bar{cursor: pointer;}

.bar1, .bar2, .bar3{
	width: 30px;
	height: 2px;
	background-color: #262626;
	margin: 5px 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.change .bar1{
	-webkit-transform: rotate(-45deg) translate(-3px,7px);
	    -ms-transform: rotate(-45deg) translate(-3px,7px);
	        transform: rotate(-45deg) translate(-3px,7px);

}

.change .bar2{
	opacity: 0;
}

.change .bar3{
	-webkit-transform: rotate(45deg) translate(-3px,-7px);
	    -ms-transform: rotate(45deg) translate(-3px,-7px);
	        transform: rotate(45deg) translate(-3px,-7px);
}

.overlay{
	width: 100%;
	position: fixed;
	top: 92px;
	left: 0;
	background: -o-linear-gradient(#f8f9fa,#f8f9fa);
	background: -webkit-gradient(linear,left top, left bottom,from(#f8f9fa),to(#f8f9fa));
	background: linear-gradient(#f8f9fa,#f8f9fa); 
	z-index: 1;
	overflow: hidden;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	display: none;
}

.overlay-content ul li{
	padding: 10px 12%;
}

.overlay a:link, .overlay a:visited{
	display: block;
	text-decoration: none;
	color: #9299a0;
	text-transform: uppercase;
	font-weight: 600;
}

.overlay a:hover{
	color: #754ef9;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}


.show{
	display: block;
}

.main-section{
	background: -o-linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(img/bg-main.jpg);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(img/bg-main.jpg);
	background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(img/bg-main.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hello-text{
	font-weight: 700;
	color: #754ef9;
	text-transform: uppercase;
}

.services-icon i{
	font-size: 50px;
}

.project-section{
	padding-top: 100px;
	padding-bottom: 100px;
	background: -o-linear-gradient(rgba(117, 78, 249, 0.7), rgba(117, 78, 249, 0.7)), url(img/call-to-action.jpg);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(117, 78, 249, 0.7)), to(rgba(117, 78, 249, 0.7))), url(img/call-to-action.jpg);
	background: linear-gradient(rgba(117, 78, 249, 0.7), rgba(117, 78, 249, 0.7)), url(img/call-to-action.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn-hire{
	background-color: none;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	border: 1px solid #fff;
	padding: 0 65px;
	line-height: 48px;
	border-radius: 50px;
	-webkit-box-shadow: 0 1px 10px #754ef9;
	        box-shadow: 0 1px 10px #754ef9; 
	cursor: pointer;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.btn-hire:hover{
	background-color: #d9d9d9;
	color: #fff;
}

.single-work, .work-img{
	position: relative;
	overflow: hidden;
}

.single-work img{
	width: 100%;
	height: 100%;
}

.work-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(117, 78, 249, 0.8);
	visibility: hidden;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	padding-top: 33%;
	padding-bottom: 34%;
	overflow: hidden;
}

.single-work:hover .work-overlay{
	visibility: visible;
}

.work-overlay h3{
	-webkit-transform: scale(0.5);
	    -ms-transform: scale(0.5);
	        transform: scale(0.5);
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.single-work:hover .work-overlay h3{
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

.work-overlay hr{
	width: 20%;
	height:2px;
}

.work-overlay .fas{
	font-size: 45px;
	color: #fff;
}

.work-overlay .work-icon1{
	margin-right: 80px;
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.work-overlay .work-icon2{
	margin-left: 80px;
	-webkit-transition: all 0.5s ease-out 0s;
	-o-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
}

.single-work:hover .work-overlay .work-icon1{margin-right: 10px;}
.single-work:hover .work-overlay .work-icon2{margin-left: 10px;}

.work-overlay .work-icon1:hover, .work-overlay .work-icon2:hover{
	color: #754ef9;
	background-color: #fff;
	border-radius: 55%; 
}

.card-header{
	background-color: #754ef9; 
}

.price-dollar{
	color: #754ef9;
}

.single-blog{
	position: relative;
	overflow: hidden;
}

.single-blog .blog-img{
	overflow: hidden;
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;

}

.single-blog .blog-img img{
	width: 100%;
}

.blog-overlay{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 75%;
	height: 37%;
	background-color: #fff;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.single-blog:hover .blog-overlay{
	color: #fff;
	background-color: #754ef9; 
}
.single-blog:hover .blog-date{
	color: #fff !important;
}

.single-blog:hover .blog-img{
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}


.contact-map .gmap_canvas iframe {
  width: 100%;
  height: 370px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(152, 152, 152, 0.46);
          box-shadow: 0px 0px 12px 0px rgba(152, 152, 152, 0.46);
}

.footer-section{
	background-color: #152136;
}


.footer-content ul li {
	list-style-type: none;
    display: inline-block;
    margin: 0 14px;
}

.footer-content ul li a {
    font-size: 30px;
    width: 74px;
    height: 74px;
    display: inline-block;
    line-height: 74px;
    text-align: center;
    border-radius: 50%;
    color: #bebebe;
    background-color: #1c2940;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer-content ul li a:hover{
	color: #f2f2f2;
	background-color: #754ef9;
}

.footer-copyright{
	background-color: #1c2940;
}

.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 46px;
  border-radius: 50%;
  border: 2px solid #586376;
  background-color: #152136;
  text-align: center;
  z-index: 10;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;        
}
  .back-to-top:hover {
    color: #fff;
    background-color: #754ef9;
    border-color: #754ef9;
}

/*---------------------------------------------*/

@media only screen and (max-width: 991px){
	.navbar .nav{display: none;}
	.hello-padding{padding: 15% 0;}
}

@media only screen and (max-width: 767px){
	.hello-padding h1{font-size: 42px;}
	.project-section h1{font-size: 28px;}

	.about-section, .services-section, .portfolio-section, .pricing-section, .blog-section, .contact-section, .footer-section{
	padding-top: 60px;
	padding-bottom: 60px;
	}

	.footer-content ul li a{
		height: 52px;
		width: 50px;
		font-size: 20px;
		line-height: 50px;
	}

@media only screen and (max-width: 575px){
	.main-section h1{
		font-size: 32px;
	}
	.main-section h3{
		font-size: 24px;
	}
	.hello-padding{
		padding-left:4%;
		padding-right: 4%; 
	}
}

